header {
    text-align: center;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightblue;
    width: 100%;
    height: 100px;
    font-size: 20px;
    padding-top: 0.1px;
    border: 2px black solid;
}

article {
    text-align: center;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    border: 2px black solid;
    width: 1200px;
    margin-left: 350px;
    background-color: lightblue;
}

.subtitulo {
    color: darkblue;
    font-size: 26px;
}

footer {
    text-align: center;
    margin-top: 100px;
    background-color: lightblue;
    height: 60px;
    width: 100%;
    padding-top: 0.05px;
    color: darkblue;
    border: 2px black solid;
}

.conteudo {
    font-size: 20px;
}

body {
    background-color: #D9ECF2;
}